@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif+KR:wght@200..900&display=swap');

/* 색 설정 */
:root {
    /* --main-color: #CF2E41;
    --black-color : #222;
    --white-color : #fff; */
}

/* size */

.inner{ width:1600px; margin:0 auto; }

@media screen and (max-width: 1250px) { 
    .inner{ width:100%; padding:0 10px; }
} /* tablet */
@media screen and (max-width: 650px) { 
    .paging_box{ font-size: 13px; }
} /* mobile */

/* 스크롤 커스텀 */
/* html::-webkit-scrollbar {width: 8px;}
html::-webkit-scrollbar-thumb {background-color: var(--main-color); border-radius: 10px;} */

/* 드래그 블록 커스텀 */
/* ::selection { background-color:var(--main-color); color:#fff; } */


/* default */
*{
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    color : inherit;
    box-sizing: border-box;
    letter-spacing: inherit;
    line-height: inherit;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{ font-family: "Noto Serif KR", serif; font-weight: 500; font-size: 16px; letter-spacing: -0.04em; }
.en { font-family: "Noto Sans", sans-serif;}
a{ color:inherit; }
p { word-break: keep-all;  }
b { font-weight: 700; }
img { max-width: 100%; vertical-align: top; }

.paging_box{ padding:10px 0; display:flex; align-items: center; justify-content: center; }

select{
    -webkit-appearance: none; -moz-appearance: none;  appearance: none;
    background: url('../img/common/select-icon.png') no-repeat 98% 50% #fff; 
}
select::-ms-expand{ display:none; }


/* @ header @ */
header { width: 100%; padding: 25px 10px; background: rgba(0, 0, 0, 0.60); color: #fff; font-family: "Noto Sans", sans-serif; display: flex; position: fixed; top: 0; left: 0; z-index: 99; }
header .headerDiv { display: flex; align-items: center; justify-content: space-between; }
header .logo { }
header nav {  }
header nav ul { display: flex; align-items: flex-end; gap: 40px; }
header nav ul li { font-size: 20px; }
header nav ul li .call {  color: #CCBD96; position: relative; }
header nav ul li .call:after { content: '창업문의'; position: absolute; top: -15px; right: 0; font-size: 13px; }
header nav ul li .call span { font-size: 14px; font-weight: 400; }

/* @ footer @ */
footer { padding: 50px 0; font-family: "Noto Sans", sans-serif; background: #222; }
footer .inner { display: flex; justify-content: space-between; }
footer .box1 {  }
footer .box1 .logo {  }
footer .box1 ul { margin: 20px 0 20px; display: flex; align-items: center; gap: 10px; }
footer .box1 ul li { color: #ccc; }
footer .box1 .copyright { font-size: 18px; color: #999; font-size: 14px; }

footer .box2 {  }
footer .box2 ul { display: flex; align-items: center; gap: 10px;}
footer .box2 ul li { color: #fff; }
footer .box2 ul li a {  }

/* @ main @ */
section.sec { min-height: 100vh; }

/* sec1 */
section.sec1 {   background: url('../img/main/sec1/bg.jpg') no-repeat center / cover; display: flex; align-items: center; justify-content: center; }
section.sec1 .sec1_div { width: 100%; height: 100%; }
section.sec1 .sec1_swiper { }
section.sec1 .sec1_swiper .text_1 {  color:  #fff; text-align: center;  font-size: 42px; font-weight: 400; }

section.banner { padding: 20px 0; background: #222; }

/* sec2 */
section.sec2 { padding: 100px 0; background: url('../img/main/sec2/bg.jpg') no-repeat center / cover; }

/* sec3 */
/* sec4 */
section.sec4 { padding: 100px 0; background: #222; color: #fff; }
section.sec4 .box1 { text-align: center; }
section.sec4 .box1 .logo { margin-bottom: 40px; }
section.sec4 .box1 .t1 { font-size: 32px; }

section.sec4 .box2 { margin: 50px 0 200px; text-align: center; }

section.sec4 .box3 { font-family: "Noto Sans", sans-serif; background: rgba(0, 0, 0, 0.50); margin-bottom: 50px;}
section.sec4 .box3 .menuDiv { max-width: 550px; width: 100%; margin: 0 auto; padding-top: 30px; display: flex; align-items: center; gap: 100px; justify-content: center;  }
section.sec4 .box3 .menuDiv .menu { width: calc(100%/3); font-size: 24px; padding-bottom: 20px;  text-align: center; cursor: pointer; }
section.sec4 .box3 .menuDiv .menu.on { color: #CCBD96; border-bottom: 2px solid #CCBD96; }

section.sec4 .box4 { width: 1280px; margin: 0 auto; position: relative; }

section.sec4 .box4 .sec4_Swiper1 { overflow: hidden; }

section.sec4 .box4 .con { display: flex; gap: 40px; justify-content: center; }
section.sec4 .box4 .con .conBox { display: flex; flex-direction: column;  text-align: center; }
section.sec4 .box4 .con .conBox .t1 { font-size: 20px; font-weight: 400; font-family: "Noto Sans", sans-serif; margin-top: 20px; }
section.sec4 .box4 .swiper-container-horizontal>.swiper-pagination-bullets,
section.sec4 .box4 .swiper-pagination-custom,
section.sec4 .box4 .swiper-pagination-fraction { bottom: -11% !important;  }
section.sec4 .box4 .swiper-pagination-bullet { width: 14px; height: 14px; border-radius: 100px; }
section.sec4 .box4 .swiper-pagination-bullet { opacity: unset; background: none; border: 2px solid #CCBD96; }
section.sec4 .box4 .swiper-pagination-bullet-active { background: #CCBD96; }

section.sec4 .box4 .swiper-button-next  { background-image: url('../img/main/sec4/next.png'); }
section.sec4 .box4 .swiper-button-prev  { background-image: url('../img/main/sec4/prev.png'); }

section.sec4 .box4 ul li.on { display: block; }
section.sec4 .box4 ul li { display: none;  }

/* sec5 */
section.sec5 { padding: 100px 0; background: url('../img/main/sec5/bg.jpg') no-repeat center / cover; }
section.sec5 .inner { width: 1440px; display: flex; justify-content: space-between;  }
section.sec5 .sec5_div { color: #fff; font-weight: 400; }
section.sec5 .sec5_div .t1 { font-size: 64px; }
section.sec5 .sec5_div .t1 span { color: #CCBD96; }
section.sec5 .sec5_div .t2 { font-size: 36px; margin: 60px 0 20px; }
section.sec5 .sec5_div .t3 { font-size: 24px; font-family: "Noto Sans", sans-serif; }

section.sec5 ul { max-width: 620px; width: 100%; display: flex; flex-direction: column; gap: 20px; }
section.sec5 ul li {  }
section.sec5 ul li .item { padding: 50px 10px; text-align: center; background: #000; background: rgba(204, 189, 150, 0.40); border-radius: 10px;}
section.sec5 ul li .item .t1 { font-size: 18px; font-family: "Noto Sans", sans-serif; color: #CCBD96; font-weight: 700; margin-bottom: 20px; }
section.sec5 ul li .item .t2 { font-size: 32px; color: #fff; font-weight: 400; }

/* sec6 */
/* sec7 */
section.sec7 { padding: 100px 0; background: url('../img/main/sec7/bg.jpg') no-repeat center /cover; color:#fff; }
section.sec7 .t1 { display: block; width: 300px; padding: 10px; font-size: 20px; text-align: center; margin: 0 auto; background: #1E1E1E; }
section.sec7 .t2 { font-size: 32px; text-align: center; margin: 40px 0 20px; }
section.sec7 .t3 { font-size: 64px; text-align: center; }
section.sec7 .t4 { font-size: 18px; font-weight: 400; text-align: center; margin-top: 40px; line-height: 1.5; }
section.sec7 .t4 span { color: #CCBD96; }

section.sec7 ul { width: 100%; display: flex; }
section.sec7 ul li { padding: 80px; width: calc(100%/2); height: 600px; }
section.sec7 ul li.list1 { background: url('../img/main/sec7/img1.jpg') no-repeat center / cover; }
section.sec7 ul li.list2 { background: url('../img/main/sec7/img2.jpg') no-repeat center / cover; }
section.sec7 ul li .item {  }
section.sec7 ul li .item .logo { margin-bottom: 30px; }
section.sec7 ul li .item .ul_div { display: flex; flex-direction: column; gap: 20px; }
section.sec7 ul li .item .ul_div .text1 { font-size: 32px; font-family: "Noto Sans", sans-serif; }
section.sec7 ul li .item .ul_div .text1 span { font-size: 20px; }
section.sec7 ul li .item .ul_div .stick { background: #fff; width: 100%; height: 2px;  }

section.sec7 ul li.list2 { text-align: right; }
section.sec7 ul li.list2 .item .ul_div { justify-content: flex-end; align-items: flex-end; }
section.sec7 ul li .counting { font-size: 64px; font-weight: 900; text-align: center; margin: 20px auto 0; display: block; }

/* sec8 */
section.sec8 {  background: url('../img/main/sec8/bg.jpg') no-repeat center / cover; min-height: 100vh; display: flex; justify-content: center; justify-content: center;}
section.sec8 .swiper-wrapper { transition-timing-function: linear; }
section.sec8 .swiper-slide  > span{  font-size: 120px; color: #fff; opacity: 0.4; fill: #222; white-space: nowrap; }
